[Desktop Entry]
Name=Thunderbird
Comment=Read/Write Mail/News with Thunderbird
GenericName=Mail Client
Exec=/usr/bin/thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Version=1.0
Icon=thunderbird
Categories=Network;Email;News;GTK;
MimeType=message/rfc822;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/mailto;x-scheme-handler/mid;x-scheme-handler/news;x-scheme-handler/webcal;x-scheme-handler/webcals;
StartupWMClass=thunderbird-default
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
Name[pl]=Klient poczty Thunderbird
Comment[pl]=Czytanie i wysyłanie e-maili
GenericName[pl]=Klient poczty
Keywords=EMail;E-mail;Contact;Addressbook;News;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Name[pl]=Nowa wiadomość
Exec=/usr/bin/thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[pl]=Książka adresowa
Exec=/usr/bin/thunderbird -addressbook
