[Desktop Entry]
Version=1.0
Name=GoogleBooks
Comment=Aplikacja internetowa
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/zawiskrz/.local/share/ice/icons/GoogleBooks.png" firefox --class WebApp-GoogleBooks4915 --name WebApp-GoogleBooks4915 --profile /home/zawiskrz/.local/share/ice/firefox/GoogleBooks4915 --no-remote "https://play.google.com/books"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/zawiskrz/.local/share/ice/icons/GoogleBooks.png
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-GoogleBooks4915
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://play.google.com/books
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
X-XFCE-Source=file:///home/zawiskrz/.local/share/applications/WebApp-GoogleBooks4915.desktop
