[Desktop Entry]
Version=1.0
Name=Copilot
Comment=Aplikacja internetowa
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/zawiskrz/.local/share/ice/icons/Copilot.png" firefox --class WebApp-Copilot9345 --name WebApp-Copilot9345 --profile /home/zawiskrz/.local/share/ice/firefox/Copilot9345 --no-remote "https://m365.cloud.microsoft/chat/?auth=1&origindomain=Office"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/zawiskrz/.local/share/ice/icons/Copilot.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Copilot9345
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://m365.cloud.microsoft/chat/?auth=1&origindomain=Office
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
X-XFCE-Source=file:///home/zawiskrz/.local/share/applications/WebApp-Copilot9345.desktop
