[Desktop Entry]
Encoding=UTF-8
Name=POWERPOINT
Comment=PlayOnLinux
Type=Application
Exec=flatpak run com.playonlinux.PlayOnLinux4 --run "POWERPOINT" %F
Icon=/home/zawiskrz/.var/app/com.playonlinux.PlayOnLinux4/data/PlayOnLinux//icones/full_size/POWERPOINT
StartupWMClass=POWERPNT.EXE
Categories=
X-XFCE-Source=file:///home/zawiskrz/Pulpit/POWERPOINT.desktop
